# OS Files
.DS_Store
Thumbs.db

# Node.js Files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build Files
build/
dist/
*.env

# IDE Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
